.about {
  padding-top: 30px;

  &__inner {
    @include container(260px);
  }

  &__title {
    @include title (25px, 30px);
    @include reset;
    padding-bottom: 3px;
  }

  &__list {
    list-style-type: none;
    @include reset;
  }

  &__item {
    padding-top: 28px;
    @include title (17px, 20px);

    br {
      display: none;
    }
  }
}
@media #{$tablet-widths} {
  .about {
    padding-top: 50px;

    &__inner {
      @include container(668px);
    }

    &__title {
      @include title (43px, 50px);
      padding-bottom: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      padding-top: 53px;
      @include title(20px, 22px);
      width: 50%;
    }

    &__item--eco,
    &__item--handmade {
      order: -2;
    }

    &__item--local,
    &__item--style {
      order: -1;
    }
  }
}
@media #{$desktop-widths} {
  .about {
    padding-top: 55px;

    &__inner {
      @include container(700px);
    }

    &__title {
      @include title(53px, 57px);
      padding-left: 0;
      text-align: left;
    }

    &__list {}
  }
}
