body {
  background-color: $color-background--lighten;
  @include text (15px, 24px);
  min-width: 200px;
}

h1 {
  @include title (27px, 30px);
  text-align: center;
}

h2 {
  @include title (25px, 30px);
}

p {
  @include text (15px, 24px);
}

img {
  max-width: 100%;
  height: auto;
}
@media #{$tablet-widths} {
  h1 {
    @include title (43px, 50px);
  }

  h2 {
    @include title (43px, 50px);
  }

  p {
    @include text (17px, 30px);
  }
}
@media #{$desktop-widths} {
  h1 {
    @include title (53px, 57px);
  }

  h2 {
    @include title (53px, 57px);
  }
}

.visually-hidden {
  display: none;
}
