.btn {
  display: block;
  @include reset;
  padding: 10px 20px;
  text-transform: uppercase;
  @include center;
  border: 2px solid $gray--darkest;

  font-family: "opensansbold", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
