.categories {
  @include title (18px, 24px);
  padding: 0 4%;
  background-color: $color-background--middle;
}

.category {
  @include reset;
  display: flex;
  flex-flow: column;

  &-link {
    display: inline-block;
    width: 30%;
    color: #ffffff;
    text-decoration: none;
   }

  &__item {
    padding: 30px;
    list-style-type: none;
  }

  &__item:first-child {
    background-color: $color-primary;
  }

  &__item:last-child {
    background-color: $color-secondary;
  }
}


@media #{$tablet-widths} {
  .category {
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;

    &__item {
      flex-basis: 334px;
      flex-grow: 1;
    }
  }
}

@media #{$desktop-widths} {
  .category {
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;

    &__item {
      flex-basis: 525px;
      flex-grow: 1;
    }
  }
}
