/* contacts */

.contacts {

  &__inner {
    padding: 4%;
  }

  &__title {
    @include reset;
    @include title (25px, 30px);
    padding-top: 4%;
  }

  &__item {
    padding-bottom: 40px;
    display: inline-block;
  }

  &__field {
    @include reset;
    width: 25%;
    box-sizing: border-box;
    padding-right: 40px;
    vertical-align: top;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $gray;
  }

  &__link::after {
    @include underline (-5px, 1px, $color-primary);
  }

  &__text {
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    @include reset;
    @include text (15px, 30px);
  }

  &__map {
    overflow: hidden;
  }

  &__btn {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}


@media #{$tablet-widths} {
  .contacts {
    position: relative;

    &__inner {
      display: flex;
      flex-flow: column;
    }

    &__wrapper {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }
  }
}

@media #{$desktop-widths} {
  .contacts {
    position: relative;

    &__inner {
      padding-left: 16%;
      /* объясни пожалуйста, почему тут пришлось ставить 16% ? */
      display: flex;
      flex-flow: column;
    }

    &__wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }

    &__map {
      position: absolute;
      content: "";
      top: 4%;
      right: 4%;
    }

    &__btn {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
