.intro {
  width: 100%;
  min-height: 177px;
  background-color: $color-background--darken;
  overflow: hidden;
  vertical-align: middle;

  &__title {
    @include title (27px, 30px);
    padding-top: 70px;
    @include container(260px);
  }

  &--index {
    min-height: 282px;
    background-color: $color-background--middle;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 570px auto;
    @media #{$retina} {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }

  &__delivery {
    @include container(260px);
    display: none;
  }
}
@media #{$tablet-widths} {
  .intro {
    position: relative;
    min-height: 237px;
    margin-top: -68px;
    @include border-top;

    &--decorated::after {
      @include zigzag-fill(22px);
    }

    &__title {
      @include title(43px, 50px);
      padding-top: 55px;
      @include container(668px);
    }

    &__title--index {
      padding-top: 110px;
    }

    &--index {
      min-height: 625px;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-color: $color-background--middle;
      background-position: 50% 0;
      background-size: 1140px auto;
      @media #{$retina} {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }

    &__delivery {
      display: block;
      @include text(15px, 24px);
      @include container(668px);
      text-align: right;
      padding-top: 18px;
    }
  }
}
@media #{$desktop-widths} {
  .intro {
    min-height: 270px;
    margin-top: -45px;

    &--decorated::after {
      height: 30px;
    }

    &__title {
      @include container(1050px);
      max-width: 630px;
      @include title(53px, 57px);
      padding-top: 55px;
    }

    &--index {
      min-height: 630px;
      background-image: url("../img/hero-desktop@1x.jpg");
      @media #{$retina} {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }

    &__title--index {
      padding-top: 115px;
    }

    &__delivery {
      @include container(1050px);
    }
  }
}
