.intro {
  width: 100%;
  height: 180px;
  background-color: $color-background--darken;
  @include border-top;
  overflow: hidden;
  vertical-align: middle;

  &__inner {
    @include container(260px);
  }


  &__title {
    @include title (27px, 30px);
    @include center;
    padding-top: 70px;
  }

  &--index {
    height: 280px;
    background-color: $color-background--middle;
  }

  &__inner--index {
    height: inherit;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
  }

  &__delivery {
    display: none;
  }
}


@media #{$tablet-widths} {

  .intro {
    height: 300px;
    margin-top: -85px;

    &__inner {
      position: relative;
      @include container(668px);
    }

    &__title {
    @include title(43px, 50px);
    padding-top: 110px;
  }

    &--index {
      height: 550px;
      background-color: $color-background--middle;
    }

    &__inner--index {
      background-position: 50% 0%;
      background-size: cover;
    }

    &__delivery {
      display: block;
      position: absolute;
      top: 15px;
      right: 0px;
      @include text(15px, 24px);
    }
  }
}


@media #{$desktop-widths} {

  .intro {

    &__inner {
      @include container(1050px);
    }

    &__title {
    max-width: 630px;
    @include title(53px, 57px);
    padding-top: 120px;
  }

    &--index {
      height: 570px;
    }
  }
}
