.catalog {
  padding-top: 30px;
  @include container(260px);

}

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  @include border;
  margin-bottom: 28px;

  &__description {
    padding: 17px 25px 21px 27px;
    cursor: pointer;
  }

  &__description-header {
    padding-bottom: 20px;
  }

  &__name {
    @include reset;
    @include title (17px, 24px);
  }

  &__text {
    @include reset;
    @include text (13px, 30px);
    padding-top: 5px;
  }

  &__description-order {
    @include border-top;
    vertical-align: middle;
    padding-top: 20px;

    display: flex;
    justify-content: space-between;
  }

  &__price {
    @include title (15px, 24px);
  }

  &__buy {
    font-size: 0;
  }
}

.catalog-item:hover {
  @include shadow--hover;
}

.catalog-item:active {
  @include shadow--down;
}


@media #{$tablet-widths} {

  .catalog {
    @include container(668px);
    padding-top: 65px;

  }

  .catalog-item {
      margin-bottom: 54px;

      &__link {
        order: -1;
        width: 334px;
        height: 334px;
      }

      &__description {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        align-items: flex-start;

      }

      &__description-header {
        padding-top: 10px;
      }

      &__name {
        @include title(20px, 24px);
      }

      &__text {
        @include text(15px, 30px);
      }

      &__description-order {
        width: 100%;
        align-items: center;
      }

      &__price {
        @include title(17px, 20px);
      }
  }
}

@media #{$desktop-widths} {

  .catalog {
    @include container(1050px);
    display: flex;
    flex-wrap: wrap;
    padding-top: 125px;
  }

  .catalog-item {
    width: 315px;
    flex-direction: column;
    flex-wrap: nowrap;

    &__link {
      width: auto;
      height: 462px;
    }

    &__link img {
      width: 100%
    }

    &__description {
      padding-top: 15px;
      }

    &__description-header {
      padding-bottom: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      min-height: 100px;
    }

    &__description-order {
      padding-top: 15px;
    }

  }

  .catalog-item:not(:nth-of-type(3n)) {
    margin-right: 49px;
  }
}
