.main-nav {
  position: relative;
  z-index: 1;

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style-type: none;
    padding: 28px 20% 28px 23%;
    box-sizing: border-box;
    margin: auto;
    @include border-bottom;
  }

  &__promo {
    display: none;
  }

  &__item--logo {
    position: relative;
    padding: 20px 0;
    text-align: center;
  }

  &__link {
    @include title(17px, 24px);
    text-decoration: none;
  }


  &__toggle {
    position: absolute;
    right: 8%;
    top: 25px;
    @include title(0px, 0px);
    padding: 0;
    width: 30px;
    height: 30px;
    border: 0;
    z-index: 5;
    background-color: transparent;
  }
}

.icon {
  &--logo {
    width: 90px;
    height: 40px;
  }

  &--logo-s {
    display: inline-block;
  }

  &--logo-l,
  &--logo-m {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 21px;
  height: 2px;
  background-color: $gray--darkest;
  box-shadow: 0 6px 0 0 $gray--darkest, 0 12px 0 0 $gray--darkest;
  z-index: 5;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $gray;
  box-shadow: 0 6px 0 0 $gray, 0 12px 0 0 $gray;
  z-index: 5;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  right: 10%;
  top: 25px;
  z-index: 6;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 5px;
    width: 21px;
    height: 2px;
    background-color: $gray--darkest;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::after,
  &:active::before {
    background-color: $gray;
  }
}
@media #{$mobile-widths-only} {
  .main-nav__item {
    position: relative;
  }

  .main-nav__icart,
  .main-nav__isearch {
    position: absolute;
    content: "";
    top: 30px;
    left: 10%;
  }

  .main-nav--closed {
    .main-nav__cart,
    .main-nav__catalog,
    .main-nav__knitting,
    .main-nav__search {
      display: none;
    }
  }

  .main-nav--opened {
    min-height: 81px;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $color-background--lighten;
    z-index: 5;
  }

  .main-nav--opened .main-nav__item--logo {
    position: relative;
  }

  .main-nav--nojs {
    .main-nav__cart,
    .main-nav__catalog,
    .main-nav__knitting,
    .main-nav__search {
      display: block;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}

.icon--logo:hover {
  fill: rgba($gray--darkest, 0.6);
}

.icon--logo:active {
  fill: rgba($gray--darkest, 0.3);
}

.icon--cart,
.icon--search {
  fill: rgba($gray--darkest, 0.3);
  margin-right: 25px;
}

.main-nav__cart:hover .icon--cart,
.main-nav__search:hover .icon--search {
  fill: $color-primary;
  cursor: pointer;
}

.main-nav__cart:active .icon--cart,
.main-nav__search:active .icon--search {
  fill: rgba($color-primary, 0.5);
  cursor: pointer;
}

.main-nav__link:hover {
  color: $biglink-color--hover;
  cursor: pointer;
}

.main-nav__link:active {
  color: $biglink-color--down;
  cursor: pointer;
}

.main-nav__cart:hover .main-nav__link--cart,
.main-nav__search:hover .main-nav__link--search {
  color: $biglink-color--hover;
}

.main-nav__cart:active .main-nav__link--cart,
.main-nav__search:active .main-nav__link--search {
  color: $biglink-color--down;
}

@media #{$tablet-widths} {
  .main-nav {
    padding: 0 50px;

    &__toggle {
      display: none;
    }

    &__list {
      @include container(668px);
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &__item {
      margin: 0;
      border-bottom: none;
      padding: 30px 0 24px;
    }

    &__link {
      @include title(15px, 24px);
    }

    &__item--logo {
      padding: 22px 0 10px;
      width: 320px;
      box-sizing: border-box;
      border-top: none;
      text-align: left;
    }

    &__catalog {
      order: 1;
      width: 170px;
      border: none;
      text-align: left;
      padding-top: 23px;
    }

    &__knitting {
      order: 1;
      width: 167px;
      border: none;
      padding-top: 23px;
    }

    &__search {
      width: 85px;
      box-sizing: border-box;
      @include border-right;
      @include border-left;
      cursor: pointer;
      padding-bottom: 0;
    }

    &__link--search {
      font-size: 0;
    }

    &__link--cart {
      font-size: 17px;
    }

    &__cart {
      flex-grow: 1;
      text-align: right;
    }
  }

  .icon {
    &--logo {
      width: 115px;
      height: 50px;
    }

    &--logo-m {
      display: inline-block;
    }

    &--logo-l,
    &--logo-s {
      display: none;
    }
  }

  .icon--search {
    padding: 0 20px 0 30px;
  }
}
@media #{$desktop-widths} {
  .main-nav {
    &__list {
      @include container(1050px);
    }

    &__item {
      padding: 30px 0 0;
    }

    &__search {}

    &__link--catalog,
    &__link--knitting {
      font-size: 17px;
    }

    &__item--logo {
      min-width: 285px;
      margin: 0 auto;
      padding: 5px 50px 0 0;
      text-align: center;
    }

    &__catalog {
      min-width: 190px;
      order: -1;
      @include border-right;
    }

    &__knitting {
      min-width: 200px;
      order: -1;
      text-align: left;
      padding-left: 36px;
    }

    &__promo {
      min-width: 186px;
      text-align: left;
      display: block;
      min-width: 190px;
      padding-top: 20px;
    }

    &__promo--sale {
      padding-left: 30px;
    }
  }

  .icon {
    &--logo {
      width: 150px;
      height: 80px;
    }

    &--logo-l {
      display: inline-block;
    }

    &--logo-m,
    &--logo-s {
      display: none;
    }
  }
}
