@mixin reset {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin center {
  text-align: center;
  margin: 0 auto;
}

@mixin container ($maxwidth) {
  max-width: $maxwidth;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

@mixin inner {
  max-width: 1050px;
  margin: 0 auto;
  width: 100%;
}

@mixin title ($fontsize, $lineheight) {
  font-family: $font;
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: 700;
  color: $gray--darkest;
}

@mixin text ($fontsize, $lineheight) {
  font-family: $font;
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: 400;
  color: $gray;
}
@mixin border-top {
  border-top: 1px solid $gray--lightest;
}

@mixin border-bottom {
  border-bottom: 1px solid $gray--lightest;
}

@mixin border-right {
  border-right: 1px solid $gray--lightest;
}

@mixin border-left {
  border-left: 1px solid $gray--lightest;
}

@mixin border {
  border: 1px solid $gray--lightest;
}

@mixin underline ($bottom, $lineheight, $linecolor){
  position: absolute;
  content: "";
  bottom: $bottom;
  left:0px;
  right: 0px;
  height: $lineheight;
  background-color: $linecolor;
}

@mixin shadow--hover {
  box-shadow: 0 4px 10px 0 $gray--lightest;
}

@mixin shadow--down {
  box-shadow: 0 4px 3px 0 $gray--lightest;

}
