.modal {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  @include border;
  width: 320px;
  margin: 0 auto;
  background-color: $color-background--lighten;


  &__inner {
    @include container(260px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @include center;
    padding: 0;
    padding-top: 30px;
    text-transform: uppercase;
    @include title (25px, 30px);
  }

  span {
    @include center;
    padding: 20px 0px;
    @include text (15px, 30px);
  }
}

.modal-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  input {
    display: none;
  }

  &__item {
    display: inline-block;
    padding: 20px 30px;
    @include title (17px, 17px);
    @include border;
    margin: 0;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item:hover {
    border-color: $input-down;
  }

  input[type="radio"]:checked + label {
    border-color: $color-primary;
  }

  &__btn {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-background--lighten;
    margin: 30px auto;
    width: 100%;
    box-sizing: border-box;
  }
}

@media #{$tablet-widths} {

  .modal {
    @include border;
    width: 568px;
    margin: 0 auto;

    &__inner {
      @include container(360px);
    }
  }

  .modal-form {

    &__item {
      padding: 15px 50px;
    }
  }
}
