.modal {
  text-align: center;

  &__inner {
    padding: 4%;
    @include border;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    display: block;
    min-width: 60%;
    box-sizing: border-box;
    @include center;
    padding: 0;
    padding-top: 4%;
    text-transform: uppercase;
    @include title (25px, 30px);
  }

  span {
    display: block;
    @include center;
    padding: 2%;
    @include text (15px, 30px);
  }
}

.modal-form {
  input {
    display: none;
  }

  &__item {
    display: inline-block;
    padding: 20px 30px;
    @include center;
    margin-right: 1%;
    @include title (17px, 17px);
    vertical-align: middle;
    @include border;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__btn {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-background--lighten;
    margin: 4% auto;
  }
}

@media #{$tablet-widths} {
  .modal {

    &__inner {
      margin: auto;
      max-width: 570px;
    }

    &__title {
      @include title (30px, 57px);
    }
  }
    .modal-form {
    &__item {
      padding: 20px 40px;
    }

    &__btn {
      width: 71%;
    }
  }
}


@media #{$desktop-widths} {
  .modal {

    &__inner {
      margin: auto;
      max-width: 570px;
    }

    &__title {
      @include title (30px, 57px);
    }
  }
    .modal-form {
    &__item {
      padding: 20px 40px;
    }

    &__btn {
      width: 71%;
    }
  }
}
