
.order-form {
  margin-bottom: 55px;

  &__block {
    border: none;
    @include reset;
  }

  &__inner {
    @include container(260px);
  }

  &__title {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    @include title (16px, 17px);
    text-transform: uppercase;
    color: $color-primary;
  }

  &__title::after {
    position: absolute;
    content: "";
    top: 28px;
    right: 0;
    height: 1px;
    width: 200px;
    background-color: $color-primary;
  }

  /* если я делаю ширину 100% то она перекрывает надпись */

  &__group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__group input {
    width: 100%;
  }



  &__group input[type="checkbox"],
  &__group input[type="radio"]{
    display: none;
  }

  &__group input[type="checkbox"] + label::before,
  &__group input[type="radio"] + label::before {
    position: absolute;
    content: "";
    bottom: 10px;;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid $gray;
  }

  &__group input[type="radio"] + label::before {
    border-radius: 50%;
    top: 16px;
    left: 2px;
}

&__group input[type="checkbox"] + label:hover::before,
&__group input[type="radio"] + label:hover::before {
  border-color: $input;
}

&__group input[type="checkbox"] + label:active::before,
&__group input[type="radio"] + label:active::before {
  border-color: $input-down;
}

  &__group input[type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    top: 29px;
    left: 14px;
    width: 16px;
    height: 16px;
    background-color: $input;
    border-radius: 50%;
  }

  &__group input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    top: 16px;
    left: 16px;
    width: 10px;
    height: 20px;
    transform: rotate(45deg);
    border-bottom: 2px solid $gray--darkest;
    border-right: 2px solid $gray--darkest;
  }

  &__group input[type="text"] {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $gray--darkest;
    padding: 13px 0px;
    outline:none;
    font-size: 17px;
  }

  &__group input[type="text"]:hover,
  &__group input[type="text"]:focus {
    border-color: $input;
  }

  &__group input[type="text"]:active {
    border-color: $input;
  }

  &__field[type="text"]::-webkit-input-placeholder {
    color: $input-placeholder;
  }
  &__field[type="text"]::-moz-placeholder {
    color: $input-placeholder;
  }
  &__field[type="text"]:-moz-placeholder{
    color: $input-placeholder;
  }
  &__field[type="text"]:-ms-input-placeholder{
    color: $input-placeholder;
  }

  .order-block__item--client {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
    min-height: 20px;
  }

  &__title--mobile {
    padding-top: 23px;
    padding-bottom: 8px;
  }

  &__title--mobile::after {
    top: 32px;
    width: 195px;
  }

  &__title--email {
    padding-top: 35px;
    padding-bottom: 5px;
  }

  &__title--email::after {
    top: 40px;
    width: 177px;
  }

  &__title--comment {
    padding-top: 32px;
    padding-bottom: 25px;
  }

&__title--comment::after {
    top: 40px;
    width: 197px;
  }

  &__add {
    @include container(260px);
  }
}

.order-block {

  &__item {
    position: relative;
    display: block;
    width: 250px;
    min-height: 40px;
    padding: 22.5px 0 0px 72px;
    @include title (17px, 18px);
  }

  &__field[type="tel"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $gray--darkest;
    padding: 15px 0px;
    outline:none;
  }

  &__field[type="tel"]:hover,
  &__field[type="tel"]:focus {
    border-color: $input;
  }

  &__field[type="tel"]::-webkit-input-placeholder {
    color: $input-placeholder;
  }
  &__field[type="tel"]::-moz-placeholder {
    color: $input-placeholder;
  }
  &__field[type="tel"]:-moz-placeholder{
    color: $input-placeholder;
  }
  &__field[type="tel"]:-ms-input-placeholder{
    color: $input-placeholder;
  }

  &__field[type="email"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid $gray--darkest;
    padding: 15px 0px;
    outline:none;
  }

  &__field[type="email"]:hover,
  &__field[type="email"]:focus {
    border-color: $input;
  }

  &__field[type="email"]::-webkit-input-placeholder {
    color: $input-placeholder;
  }
  &__field[type="email"]::-moz-placeholder {
    color: $input-placeholder;
  }
  &__field[type="email"]:-moz-placeholder{
    color: $input-placeholder;
  }
  &__field[type="email"]:-ms-input-placeholder{
    color: $input-placeholder;
  }

  &__field--comment {
    border: 2px solid $gray--darkest;
    padding: 16px;
    box-sizing: border-box;
    @include text(17px, 18px);
    color: $input-placeholder;
    outline:none;
  }

  &__field--comment:hover {
    border-color: $input;
  }
}

.order-note {
  @include text(14px, 15px);
  margin: 0;
  padding-bottom: 30px;
  padding-top: 14px;
}

.order__btn {
    margin: 0 auto;
    width: 260px;
    background-color: $color-background--lighten;
    color: $gray;
    border-color: $gray;
}


@media #{$tablet-widths} {

  .order-form {
    margin-bottom: 45px;

    &__inner {
      @include container(668px);
      display: flex;
      align-items: baseline;
    }

    &__block {
      padding: 40px 0 30px;
    }

    &__block--darken {
      background-color: $color-background--darken;
    }

    &__title {
      width: 187px;
    }

    &__title::after {
      display: none;
    }

    &__group {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
    }

    input[type="radio"] + .order-block__item {
      width: 500px;
      padding-bottom: 16px;
      @include title(19px,18px)
    }

    input[type="checkbox"] + .order-block__item {
      width: 50%;
    }

    &__group input[type="checkbox"] + label::before,
    &__group input[type="radio"] + label::before {
      bottom: 13px;
      left: -16px;
      width: 50px;
      height: 50px;
    }

    &__group input[type="checkbox"]:checked + label::after {
      top: 16px;
      left: 0px;
      width: 20px;
      height: 30px;
    }

    &__group input[type="checkbox"] + label:nth-of-type(2n)::before {
      left: 4px;
    }

    &__group input[type="checkbox"]:checked + label:nth-of-type(2n)::after {
      left: 20px;
    }

    &__group input[type="radio"] + label::before {
      height: 48px;
      width: 48px;
      top: 8px;
      left: -2px;
    }

    &__group input[type="radio"]:checked + label::after {
      height: 20px;
      width: 20px;
      top: 23px;
      left: 14px;
    }

    &__group input[type="text"] {
      width: 100%;
      padding-left: 20px;
      margin-left: 20px;
    }

    &__group--inner {
      width: 500px;
      display: flex;
      align-items: baseline;
    }

    &__inner--client {
      padding-top: 8px;
    }

    &__group--inner-lname {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__group--inner-mname {
      padding-bottom: 20px;
    }

    &__title--mobile {
      padding-top: 26px;
    }

    &__add {
      @include container(668px);
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    &__block--mobile {
      padding: 40px 0px 0px;
    }

    &__block--email {
      padding: 5px 0px 50px;
    }

    &__title--comment {
      width: 220px;
    }
  }

  .order-block {

    &__item {
      @include title(19px, 19px);
    }

    &__item--color {
      padding: 24px 10px 34px 62px;
      box-sizing: border-box;
    }

    &__item--color:nth-of-type(even) {
      padding-right: 0px;
      padding-left: 82px;
    }

    &__item--client {
      width: 100px;
    }

    &__item--clientname {
      width: 50px;
    }

    &__field {
      padding-left: 15px;
    }

    &__field[type="tel"] {
      background-color: $color-background--darken;
      width: 500px;
      font-size: 17px;
    }

    &__field[type="email"] {
      background-color: $color-background--darken;
      width: 500px;
      font-size: 17px;
    }

    &__field--comment {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .order__btn {
    margin: 0;
    order: -1;
    width: 230px;
  }

  .order-note {
    font-size: 17px;
  }
}

@media #{$desktop-widths} {

  .order-form {

    &__inner {
      @include container(1050px);
    }

    &__group {
      width: 875px;
    }

    &__group--inner {
      width: 700px;
    }

    &__title {
      text-align: center;
      width: 170px;
    }

    &__input {
      padding-left: 90px;
    }

    input[type="radio"] + .order-block__item {
      padding-top: 20px;
      padding-left: 90px;
    }

    input[type="radio"] + label::before {
      left: 7px;
      top: 3px;
    }

    input[type="radio"]:checked + label::after {
      left: 21px;
      top: 21px;
    }

    input[type="checkbox"] + .order-block__item {
      width: 260px;
      padding-left: 90px;
    }

      &__group input[type="checkbox"] + label::before {
        left: 10px;
      }

      &__group input[type="checkbox"] + label:nth-of-type(2n)::before {
        left: 10px;
      }

      &__group input[type="checkbox"]:checked + label::after {
        left: 25px;
      }

      &__group input[type="checkbox"]:checked + label:nth-of-type(2n)::after {
        left: 25px;
      }

    &__add {
      @include container(700px);

    }
  }

  .order-block {
    &__field[type="tel"] {
      width: 700px;
    }

    &__field[type="email"] {
      width: 700px;
    }

    &__field--comment {
      width: 700px;
    }
  }
}
