.page-footer {
  background-color: $color-background--darken;

  &__inner {
    @include container(260px);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__logo {
    display: none;
  }
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  @include border-bottom;
  padding: 24px 42px 24px;

  &__link {
  font-size: 0px;
  }
}

.social__link:hover .icon--social {
  fill: $color-primary;
}

.social__link:active .icon--social {
  fill: rgba($color-primary, 0.5);
}

.copyright {
  display: flex;
  justify-content: center;
  width: 260px;
  padding: 20px 0;

  p {
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    @include title (18px, 19px);
  }

  &__link {
    font-size: 0px;
    padding-left: 30px;
  }
}



.copyright__link:hover  .icon--copyright {
  fill: $color-secondary--lighten;
}

.copyright__link:active  .icon--copyright {
  fill: rgba($color-secondary--lighten, 0.3);
}


@media #{$tablet-widths} {
  .page-footer {

    &__inner {
      @include container(668px);
      align-items: center;
      justify-content: space-between;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &__logo {
      display: block;
      margin: 0;
      padding: 0;
      width: 180px;
      text-align: left;
    }
  }

  .social {
    width: 150px;
    margin: auto;
    padding: 0;
    border: none;
  }

  .copyright {
    width: 185px;
  }
}

@media #{$desktop-widths} {
  .page-footer {

    &__inner {
      @include container(1050px);
    }
  }
}
