
.production {
  @include container(260px);
  @include border;
  padding-bottom: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__btn {
    width: 192px;
    box-sizing: border-box;
  }
}

.production-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 29px;
}

.production-process {
  margin: 0;
  padding-top: 26px;
  padding-left: 19px;
  padding-bottom: 23px;
  @include title (17px, 24px);
  text-align: left;
  cursor: pointer;
  }

.production-video {
  position: relative;
}

.production-videoicon {

    position: absolute;
    left: 50%;
    top: 50%;
    width: 105px;
    height: 80px;
    transform: translate(-50%,-50%);
    cursor: pointer;
    background-image: url(../img/icons/icon-play.svg);
    background-repeat: no-repeat;
    transition: transform .1s;


    &:hover {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    }

    &:active {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0.8);
    opacity: 0.6;
    }
  }

.icon--video {
  fill: $color-primary;
  width: 53px;
  height: auto;
}

.production-icon {
  fill: $color-primary;
}



.production-description {
  @include text(13px, 24px);
  text-align: left;
  width: 192px;
  padding: 21px 0px 26px;
  margin: 0;
}

.production:hover {
  @include shadow--hover;
}

.production:active {
  @include shadow--down;
}


@media #{$tablet-widths} {

  .production {
    @include container(668px);
    padding-bottom: 45px;
    margin-bottom: 63px;
  }

  .production-title {
    padding-left: 60px;
    padding-top: 15px;
  }

  .production-process {
    @include title (20px, 24px);
    width: 590px;
  }

  .production-video {
    width: 100%;
    height: 447px;
    order: -1;
    @include border-bottom;

    img {
      width: 100%;
      height: auto;
    }
  }

  .production-description {
    width: 590px;
    margin: 0;
    @include text (15px,30px);
    padding-bottom: 33px;
    padding-top: 10px;
  }

  .production__btn {
    width: 590px;
    box-sizing: border-box;
    padding: 15px;
  }
}

@media #{$desktop-widths} {

  .production {
    position: relative;
    @include container(1050px);
    justify-content: space-around;
    align-items: flex-start;
    height: 455px;
    box-sizing: border-box;
    padding-left: 700px;
    padding-bottom: 0px;
    margin-bottom: 105px;
  }

  .production-title {
    padding-left: 60px;
    padding-top: 39px;
    flex-wrap: wrap;
  }

  .icon--video {
    width: 40px;
  }

  .production-video {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 680px;
    padding: 0;
  }

  .production-process {
    width: 230px;
    padding: 24px 50px 17px 0px;
  }

  .production-description {
    width: 230px;
    padding-top: 10px;
  }

  .production__btn {
    width: 230px;
    margin-bottom: 50px;
  }
}
