.reviews {
  position: relative;
  padding-bottom: 50px;

  &__inner {
    @include container (260px);
  }

  &__title {
    @include title(25px, 30px);
    @include reset;
    padding-top: 55px;
  }

  &__item,
  &__list {
    @include reset;
  }

  &::after {
    @include zigzag-line(5px);
  }
}

.review {
  &__text {
    @include text (15px, 30px);
    padding: 25px 0;
    margin: 0;
  }

  &__author {
    @include title(18px, 24px);
  }

  &__from {
    @include text (17px, 30px);
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    min-width: 40%;
    @include reset;
    font-size: 0;
    margin: 34px 0 40px;
  }

  &__controls-link {
    position: relative;
    display: block;
    padding: 12px;
    width: 50%;
    box-sizing: border-box;
    @include border;
  }

  &__controls-link::before {
    position: absolute;
    content: "";
    top: 22px;
    left: 40px;
    width: 50px;
    height: 4px;
    background-color: $gray--darkest;
  }

  &__controls-link::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 42px;
    width: 14px;
    height: 14px;
    border-left: 4px solid $gray--darkest;
    border-bottom: 4px solid $gray--darkest;
    transform: rotate(45deg);
  }

  &__controls-link:first-child {
    border-right: none;
  }

  &__controls-link:last-child::after {
    transform: rotate(-135deg);
    left: 67px;
  }

  &__controls-link:last-child::before {
    left: 37px;
  }

  &__controls-link:hover::before {
    background-color: $arrow-color--hover;
  }

  &__controls-link:hover::after {
    border-color: $arrow-color--hover;
  }

  &__controls-link:active::before {
    background-color: $arrow-color--active;
  }

  &__controls-link:active::after {
    border-color: $arrow-color--active;
  }
}
@media #{$tablet-widths} {
  .reviews {
    padding-top: 85px;
    padding-bottom: 80px;

    &__inner {
      position: relative;
      padding-top: 82px;
      padding-bottom: 50px;
      @include container (668px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__inner::after {
      position: absolute;
      content: "";
      top: 0;
      left: -50px;
      height: 100%;
      width: 350px;
      background-image: url("../img/review@1x.jpg");
      background-position: -50%;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: -1;
      @media #{$retina} {
        background-image: url("../img/review@2x.jpg");
      }
    }

    &__title {
      padding: 0;
      @include title (43px, 50px);
      width: 330px;
      order: -2;
    }

    &__footer {
      display: flex;
      flex-direction: column;
    }

    &::after {
      @include zigzag-line(15px);
    }
  }

  .review {
    &__btn {
      width: 177px;
      box-sizing: border-box;
      order: -1;
      margin-right: 0;
      margin-bottom: 0;
    }

    &__text {
      @include text (17px, 30px);
      padding: 46px 0 57px;
    }

    &__controls {
      position: absolute;
      content: "";
      bottom: 45px;
      right: 0;
      margin: 0;
      min-width: 167px;
    }

    &__controls-link {
      width: 83px;
      border: none;
    }

    &__controls-link::before {
      top: 14px;
      left: 15px;
    }

    &__controls-link::after {
      top: 7px;
      left: 17px;
    }

    &__controls-link:last-child::before {
      left: 12px;
    }

    &__controls-link:last-child::after {
      left: 43px;
    }
  }
}
@media #{$desktop-widths} {
  .reviews {
    padding-top: 75px;
    padding-bottom: 111px;

    &::after {
      height: 30px;
      background-size: auto 25px;
    }

    &__inner {
      @include container (1050px);
      padding-left: 170px;
      padding-bottom: 80px;
    }

    &__inner::after {
      left: 0;
      top: 10px;
    }

    &__title {
      @include title (53px, 57px);
      padding: 0;
    }

    &__footer {}
  }

  .review {
    &__text {
      padding-top: 50px;
      padding-right: 80px;
      padding-bottom: 40px;
    }

    &__controls {
      bottom: 80px;
    }
  }
}
